<div class="container-fluid vh-100 p-0">
  <div class="row g-0 h-100">
    <div class="col-md-6 bg-light d-flex align-items-center justify-content-center">
      <div class="w-75 p-5">
        <img src="images/precious-time-logo-big.png" alt="Logo Precious Time" class="img-fluid" />
      </div>
    </div>

    <div class="col-md-6 bg-white d-flex align-items-center justify-content-center">
      <div class="w-75 px-4">
        <h1 class="text-center mb-5 fw-light fs-1">Iniciar Sesión</h1>
        <form [formGroup]="signUpForm">
          <div class="mb-4">
            <input
              type="text"
              id="name"
              name="name"
              class="form-control form-control-lg rounded-3 border-secondary"
              placeholder="Username"
              formControlName="usernameFormControl"
            />
            @if (signUpForm.get('usernameFormControl')?.invalid && signUpForm.get('usernameFormControl')?.dirty) {
              <div class="mt-2 alert alert-danger">
                @if (signUpForm.get('usernameFormControl')?.hasError('required')) {
                  <p>El nombre es un campo obligatorio</p>
                }
                @if (signUpForm.get('usernameFormControl')?.hasError('minLength')) {
                  <p>La cantidad de caracteres del nombre es insuficiente</p>
                }
              </div>
            }
          </div>
          <div class="mb-4">
            <input
              type="text"
              id="name"
              name="name"
              class="form-control form-control-lg rounded-3 border-secondary"
              placeholder="Nombre"
              formControlName="nameFormControl"
            />
            @if (signUpForm.get('nameFormControl')?.invalid && signUpForm.get('nameFormControl')?.dirty) {
              <div class="mt-2 alert alert-danger">
                @if (signUpForm.get('nameFormControl')?.hasError('required')) {
                  <p>El nombre es un campo obligatorio</p>
                }
                @if (signUpForm.get('nameFormControl')?.hasError('minLength')) {
                  <p>La cantidad de caracteres del nombre es insuficiente</p>
                }
              </div>
            }
          </div>
          <div class="mb-4">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control form-control-lg rounded-3 border-secondary"
              placeholder="Email"
              formControlName="emailFormControl"
            />
            @if (signUpForm.get('emailFormControl')?.invalid && signUpForm.get('emailFormControl')?.dirty) {
              <div class="mt-2 alert alert-danger">
                @if (signUpForm.get('emailFormControl')?.hasError('required')) {
                  <p>El email es un campo obligatorio</p>
                }
                @if (signUpForm.get('emailFormControl')?.hasError('email')) {
                  <p>No es una dirección de correo valida</p>
                }
              </div>
            }
          </div>
          <div class="mb-4">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control form-control-lg rounded-3 border-secondary"
              placeholder="Contraseña"
              formControlName="passwordFormControl"
            />
            @if (signUpForm.get('passwordFormControl')?.invalid && signUpForm.get('passwordFormControl')?.dirty) {
              <div class="mt-2 alert alert-danger">
                @if (signUpForm.get('passwordFormControl')?.hasError('required')) {
                  <p>La contraseña es un campo obligatorio</p>
                }
                @if (signUpForm.get('passwordFormControl')?.hasError('minLength')) {
                  <p>No es una dirección de correo valida</p>
                }
              </div>
            }
          </div>
          <div class="mb-4">
            <input
              type="password"
              name="passwordconfirm"
              id="passwordconfirm"
              class="form-control form-control-lg rounded-3 border-secondary"
              placeholder="Confirmar contraseña"
              formControlName="passwordConfirmFormControl"
            />
            @if (signUpForm.get('passwordConfirmFormControl')?.dirty && signUpForm.get('passwordConfirmFormControl')?.value != signUpForm.get('passwordFormControl')?.value) {
              <div class="alert alert-danger">
                <p>Las contraseñas no son iguales</p>
              </div>
            }
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-lg rounded-3" [disabled]="signUpForm.invalid || signUpForm.get('passwordConfirmFormControl')?.value != signUpForm.get('passwordFormControl')?.value" (click)="createUser()">Crear cuenta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
